
  .appContainer{
      background-color:#00629B;
      overflow: auto;
      margin-bottom: 0px; 
      padding-top: 20px;
      padding-bottom: 20px;
      
  }
  .aboutus-more {
    border: 1px solid #137AAA;
    border-radius: 25px;
    color: #137AAA;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    background-color: #fff;
}
  .card {
    width: 280px;
    height: 430px;
    display: block;
    margin: 60px auto;
    box-shadow: 10px 5px 20px;
    transition: 0.25s;
  }
  .card:hover {
    box-shadow: 10px 5px 20px 10px ;
    cursor: pointer;
  }
  .card:hover .button-primary {
    transform: translate(10px, 0);
  }
  
  .card-header {
    height: 25%;
    width: 100%;
    padding: 15px;
    width: 100%;
    background-size: cover;
    color: black;
    font-weight: bold;
  }
  
  .card-header--title {
    text-transform: uppercase;
    margin: 0;
  }
  
  .card-body {
    padding: 15px;
    background-color: white;
    width: 100%;
    height:75%;
    overflow: hidden;
    position: relative;
  }
  .card-body h2{
    color: black;
    
  }
  
  .date {
    font-size: 11px;
    font-weight: 600;
    color: darkgray;
  }
  
  .body-content {
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 1.8;
    color: black;
    text-decoration: none;
    height:50%
  }
  
  .button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: #341cac;
    font-size: 15px;
    transition: 0.25s;
  }
  .button-primary i {
    padding-right: 4px;
  }
  
  .designer-link {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
  }
  
  body, html {
    overflow-x: hidden;
  }
  
  /* .app-header {
    display: block;
    padding: 30px;
  } */
  
  .app-title {
    display: inline-block;
    width: 100%;
    margin: 80px 0 0 0;
    position: relative;
    color: black;
  }
  @media (min-width: 768px) {
    .app-title {
      width: 20%;
      margin: 280px 0 0 0;
    }
  }
  .app-title h1 {
    font-size: 52px;
    margin: 0;
  }
  .app-title p {
    font-weight: 200;
    opacity: 0.5;
  }
  
  .app-title-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 768px) {
    .app-title-content {
      width: auto;
      position: absolute;
      text-align: left;
    }
  }
  
  .app-card-list {
    display: inline-block;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
    white-space: nowrap;
  }

@media (max-width:500px){
  .app-card-list .card {
    margin: 60px 15px !important;
    display: inline-block;
  }
}



  .app-card-list::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px) {
    .app-card-list {
      width: 80%;
      white-space: nowrap;
      margin-top: 0;
    }
  }
  .app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
  }
  .app-card-list .card .card-body {
    white-space: normal;
  }
  
  .designer-link {
    display: inline-block;
    padding-top: 40px;
  }


