.newslist-section {
    background: #00629b;
    overflow: auto;
}

.newslist-section .section-header {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newslist-section .section-header h3 {
    /*position: sticky;*/
    color: white;
    text-align: left;
}

.newslist-section .card-container .card {
    transition: all 0.3s ease-out;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 7px 25px 0;
    border-radius: 10px;
    z-index: 9;
}

.newslist-section .card-container .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 30px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    transform: scale(1.05);
}

.newslist-section .card-container .card .cover-container {
    border-radius: 10px 10px 0 0;
    /*border-bottom: 1px solid darkgrey;*/
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.newslist-section .card-container .card .card-subtitle {
    font-size: 0.85em;
    font-weight: bold;
    color: #707070;
}

.newslist-section .card-container .card .card-title {
    font-weight: bold;
    font-size: 1.7em;
}

.newslist-section .card-container .card .card-text-container {
    transition: all 0.8s ease-in-out;
    transition-delay: 0.2s;
    height: fit-content;
    min-height: 150px;
    max-height: 150px;
    overflow-y: hidden;
    margin-bottom: 30px;
}

.newslist-section .card-container .card:hover .card-text-container {
    max-height: 600px;
    margin-bottom: 30px;
}

.newslist-section .card-container .card .text-fade {
    transition: opacity 0.4s ease-in-out;
    background-image: linear-gradient(to bottom, transparent, white);
    position: absolute;
    height: 80px;
    width: 100%;
    margin-top: -100px;
    margin-left: -16px;
    padding-bottom: 10px;
}

.newslist-section .card-container .card:hover .text-fade {
    opacity: 0;
}

.newslist-section .card-container .card .card-text {
    /*padding-bottom: 10px;*/
    padding-top: 3px;
    font-size: 0.9em;
}

.newslist-section .slick-slider .slick-dots li button:before {
    font-size: 10px;
    color: white;
}

.newslist-section .slick-slider .slick-prev:before, .newslist-section .slick-slider .slick-next:before {
    font-size: 24px;
}

.newslist-section .slick-slider .slick-prev {
    left: -32px;
}

.newslist-section .slick-slider .slick-next {
    right: -30px;
}

.newslist-section .slick-slider {
    height: 570px;
    overflow-y: visible;
}

/* custom scrollbar */
.newslist-section::-webkit-scrollbar {
    /*width: 20px;*/
    display: none;
}

/*.newslist-section::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*}*/

/*.newslist-section::-webkit-scrollbar-thumb {*/
/*    background-color: #d6dee1;*/
/*    border-radius: 20px;*/
/*    border: 6px solid transparent;*/
/*    background-clip: content-box;*/
/*}*/

/*.newslist-section::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #a8bbbf;*/
/*}*/


@media (min-width: 576px) {
    .newslist-section .card-container .card {
        margin: 18px;
    }

    .newslist-section .slick-slider .slick-prev {
        left: -32px;
    }

    .newslist-section .slick-slider .slick-next {
        right: -30px;
    }

    .newslist-section .slick-slider .slick-prev:before, .newslist-section .slick-slider .slick-next:before {
        font-size: 21px;
    }

    .newslist-section .slick-slider {
        height: 640px;
    }

}

@media (min-width: 768px) {
    .newslist-section .card-container .card {
        margin: 12px;
    }

    .newslist-section .slick-slider {
        height: 570px;
    }
}

@media (min-width: 992px) {
    .newslist-section .slick-slider {
        height: 580px;
    }
}

@media (min-width: 1200px) {
    .newslist-section .card-container .card {
        margin: 12px;
    }

    .newslist-section .slick-slider {
        height: 550px;
    }
}

@media (min-width: 1400px) {
    .newslist-section .slick-slider {
        height: 570px;
    }
}

