#team {
  background: #fff;
  padding-bottom: 50px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.section-header h3 {
  font-size: 45px;
  color: #283d50;
  text-align: center;
  font-weight: 800;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  color: #000000;
  width: 50%;
}

.title-wrapper, .post-wrapper {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.title-wrapper {
  align-items: flex-end;
}

.post-wrapper {
  align-items: flex-start;
}
