h1 {
  color: #fff;
  text-decoration: none;
}

.title-div {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

video {
  position: relative;
  /* left:20%; */
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  right: 0;
  min-width: 100%;
  object-fit: cover;

}

@media (pointer: coarse) and (hover: none) {

  body video {
    display: none;

  }

  .masthead .masthead-bg {
    background-image: url("../../../assets/network-bg.webp");
    background-size: cover;
    opacity: 0.9;
  }

  .overlay {
    background-color: white !important;
  }
}

.overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 100vh;
  width: 100%;
  background-color: #002e66;
  opacity: 0.9;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00629b60;
  opacity: 0.5;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.masthead {
  /*position: absolute;*/
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
  height: 100vh;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 40%;
  /* min-height: 35rem; */
  height: 100vh;
  background-color: rgba(0, 46, 102, 0.767);
  transform: skewY(4deg);
  transform-origin: bottom right;
  z-index: -1;
}

.masthead-content {
  /* position: absolute; */
  z-index: 3;
}

.masthead .masthead-content h1 {
  padding-top: 40px;
  font-size: 50px;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}


@media (min-width: 768px) {
  .masthead {

    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }

  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }

  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }

  .masthead .masthead-content h1 {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
  }

  .masthead .masthead-content p {
    font-size: 1.4rem;
    text-shadow: 0 0 2px #000000;
  }
}


.shownews {
  font-weight: 700;
  color: #fff;
  width: 600px;
  height: 100px;
  margin: 50px auto;
  text-transform: capitalize;
  font-family: "Open", sans-serif;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;

}

.shownews .title {
  background: rgb(7, 43, 82);
  display: inline-block;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif !important;
  clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
  animation: mask 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  border-radius: 0 0 0 0;
  width: 100px;
  text-align: center;


}

.shownews .title span {
  display: block;
  font-size: 50px;
}

.shownews #news span#text {
  display: block;
  font-size: 20px;
}

.shownews #news span#para {
  display: block;
  font-size: 13px;
}

.shownews #news {
  background: #00629b;
  display: inline-block;
  padding: 16px 16px;
  border-radius: 0 15px 15px 0;
  font-family: 'Ubuntu', sans-serif;
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  animation: mask 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.shownews #news a {
  color: #FFF;
  text-decoration: none;
}

@keyframes mask {
  0% {
    clip-path: polygon(0px 0px, 0% 0, 0% 100%, 0px 100%);
  }
  100% {
    clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
  }
}

@media only screen and (max-width: 479px) {
  .shownews .title {
    /* width: 25%; */
  }

  #news {
    width: 45%;
  }

  .masthead .masthead-bg {
    width: 100%;
  }

  .masthead .masthead-content h1 {
    font-size: 55px;
    font-weight: 700;
  }

}

