.contact-us{
    background-color: #c2c7cc;
    border-radius: 10px;
}

.email, .tel {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.social-information .email:hover,
.social-information .tel:hover {
  color: grey;
}
.contact-info-form .email:hover,
.contact-info-form .tel:hover {
  color: #dddddd;
}