.navbar-links{
    background: rgb(0, 98, 155)!important;
    box-shadow: rgba(17, 12, 46, 0.2) 0 48px 100px 0;
}

.navbar-links .hamburger-react{
    margin: -7px;
}

.navbar-links .navbar-nav .nav-link{
    font-size: 1.04em;
}

.navbar-links .nav-item{
    margin: 0 16px 0 16px;
}
