.member {
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px 30px;
}

.member .pic {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.member:hover {
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.member .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.member .title {
  font-weight: 600;
  color: #010101;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
}

.member .post {
  color: #000000;
  text-transform: capitalize;
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.title-wrapper, .post-wrapper {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.title-wrapper {
  align-items: flex-end;
}

.post-wrapper {
  align-items: flex-start;
}

.member .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.member .social li {
  display: inline-block;

  margin-right: 5px;
}

.member .social li a {
  border-radius: 50%;
  font-size: 15px;
  color: #101010;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: all 0.5s ease 0s;
}

.member .social li a:hover {
  background: #00629b;
  color: #fff;
}

@media only screen and (max-width: 479px) {
  .member .title {
    font-size: 0.98em;
    overflow-wrap: anywhere;
  }
}